@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto:wght@900&display=swap');

/*=========
変数
=========*/
$cGold: rgb(206, 203, 55);

/*=========
グローバル
=========*/
* {
  margin: 0;
  padding: 0;
}

html {
  touch-action: manipulation;
}

body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  background-color: rgb(21, 33, 75);
  color: $cGold;
}

input,
button {
  outline: none;
  border: none;
  font-size: 18px;
}

button {
  background-color: transparent;
  cursor: pointer;
  color: $cGold;
}

/*=========
コンテンツ
=========*/
.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1__title {
  margin-bottom: 4vh;
}

.parts {
  &__form {
    position: relative;
  }

  &__input {
    box-sizing: border-box;
    display: block;
    width: 300px;
    padding: 5px 50px 5px 20px;
    background-color: transparent;
    border-radius: 0%;
    border-bottom: 1px solid $cGold;
    color: $cGold;

    &::selection {
      background-color: transparent;
    }
  }

  &__btn {
    transition: text-shadow 0.3s ease;

    &-create {
      margin: 2vh 0 4vh;
      padding: 16px 32px;
      text-decoration: none;
      border: solid 2px $cGold;
      border-radius: 3px;
      transition: 0.4s;
    }

    &-copy {
      position: absolute;
      top: 50%;
      right: 18px;
      transform: translateY(-53%);
      font-size: 20px;
    }

    &:hover {
      text-shadow: 0 0 3px $cGold;
    }
  }
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__title {
    text-align: center;
    margin-bottom: 2vh;
  }

  &__item {
    width: 150px;
    position: relative;
    clear: both;
    float: left;
    margin-bottom: 2vh;

    &:last-child {
      margin-bottom: 4vh;
    }
  }
}

#opt_length {
  box-sizing: border-box;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 16px;
  width: 60px;
}

#opt_sign-text {
  @extend #opt_length;
  width: 100% !important;
  margin-top: 2vh;
}

input[type='checkbox'] {
  display: none;
}

p {
  letter-spacing: 1px;
  font-size: 15px;
  float: right;
  width: 80px;
  margin: 5px 0 0;
  pointer-events: none;
}

.switch {
  width: 60px;
  height: 30px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  background: #ccc;
  float: left;
  border-radius: 100px;
  position: relative;
  cursor: pointer;
  transition: 0.3s ease;

  &::before {
    transition: 0.3s ease;
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    background: white;
    left: 2px;
    top: 2px;
    box-sizing: border-box;
    border: none;
    color: black;
    border-radius: 100px;
  }
}

input[type='checkbox']:checked + label {
  background: #55e868;
  border-color: #55e868;

  &::before {
    left: 30px;
  }
}
